body {
  background-color: rgb(243, 215, 178);
}

form {
  margin: 3rem;
}

label {
  display: inline-block;
  width: 200px;
}

h1 {
  margin: 3rem;
}

h2 {
  margin: 3rem;
}

#discount {
  margin-left: 3rem;
}
